body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/NY1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Marck Script', serif;
}

.time-count_text {
    font-size: 30px;  
}

.time-count_item{
    text-align: center;
}

.time-count {
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
    border-radius: 30px;
    width: 600px;
    height: 260px;
    padding: 10px 10px;
}

.time-count_content {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.time-count_title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 20px;
}

.time-count_val {
    font-size: 70px;
    position: relative;
    text-align: center;
    min-width: 80px;
    margin-left: 10px;
    margin-right: 10px; 
}

.time-count_separator{
    font-size: 50px;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 10px;  
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
  }

  .audio {
    width: 250px;
    height: 17px;
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.5);
  }

  .icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.5);
    margin-top: 0;
    
  }

  .icon:hover {
    transform: scale(1.15);
    cursor: pointer;
  }

  .new-year {
    font-size: 0;
  }
  
  @media screen and (min-width: 320px) and (max-width: 370px){
    .time-count {
        box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
        border-radius: 30px;
        width: 300px;
        height: 260px;
        padding: 5px 5px;
    }
    .time-count_title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    
    .time-count_content {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .time-count_text {
        font-size: 18px;  
    }
    .time-count_val {
        font-size: 35px;
        position: relative;
        text-align: center;
        min-width: 50px;
        margin-left: 8px;
        margin-right: 8px; 
    }
    .time-count_separator{
        font-size: 25px;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;
        padding-top: 5px;  
    }

    .icon {
        width: 30px;
        height: 30px; 
      }
  }

@media screen and (min-width: 371px) and (max-width: 480px){
    body {
        margin: 0;
        min-height: 100vh;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;   
    }

    .time-count_text {
        font-size: 25px;  
    }
    .time-count {
        box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
        border-radius: 30px;
        width: 340px;
        height: 300px;
        padding: 8px 8px;
    }
    
    .time-count_content {
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .time-count_title {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-bottom: 18px;
        margin-top: 25px;
    }
    
    .time-count_val {
        font-size: 50px;
        position: relative;
        text-align: center;
        min-width: 50px;
        margin-left: 8px;
        margin-right: 8px; 
    }
    
    .time-count_separator{
        font-size: 30px;
        text-align: center;
        margin-left: 6px;
        margin-right: 6px;
        padding-top: 8px;  
    }
    
      .icon {
        width: 35px;
        height: 35px; 
      }
}

@media screen and (min-width: 481px) and (max-width: 670px){
    body {
        margin: 0;
        min-height: 100vh;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;   
    }

    .time-count_text {
        font-size: 27px;  
    }
    .time-count {
        box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
        border-radius: 30px;
        width: 370px;
        height: 320px;
        padding: 8px 8px;
    }
    
    .time-count_content {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .time-count_title {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-bottom: 18px;
        margin-top: 25px;
    }
    
    .time-count_val {
        font-size: 55px;
        position: relative;
        text-align: center;
        min-width: 50px;
        margin-left: 8px;
        margin-right: 8px; 
    }
    
    .time-count_separator{
        font-size: 35px;
        text-align: center;
        margin-left: 6px;
        margin-right: 6px;
        padding-top: 8px;  
    }
    
      .icon {
        width: 40px;
        height: 40px; 
      }
}
